.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.Header {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  background-color: #121212;
  /* Safari */
  position: sticky;
  top: 0;
}




.view-mode-item {
  fill: #5F5F5F;
  width: 24px;
}

.view-mode-item-active {
  fill: #D7143A
}

.view-mode-container {
  display: flex;
  gap: 12px;
}



#scrollableDiv {
  height: 100vh;
  overflow: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.masnory-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.masnory-item {
  flex-grow: 1;
}

.masnory-image {
  width: -webkit-fill-available;
}


#appicon {
  width: 36px;
  height: 36px;
  margin-left: 24px;
}



.content-thumbnail {
  object-fit: cover;
  height: 300px;
  margin: 8px;
  border-radius: 6px;
  min-width: 200px;
  opacity: 0.8;
  transition: 0.4s ease-in-out;
}

.fixed-size {
  width: 300px;
}

#searchbar {
  flex-grow: 1;
  margin-right: 16px;
  margin-left: 16px;
}

.content-thumbnail-info {
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 0px;
  left: 0px;
  visibility: hidden;
  opacity: 0;
  transition-duration: .35s;
}

.content-thumbnail-overlay {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  top: 0px;
  left: 0px;
  /* background: rgb(240, 18, 18); */
  background: linear-gradient(185deg, rgba(18, 18, 18, 0) 0%, rgba(18, 18, 18, 0.5) 100%);
  opacity: 0;
  visibility: hidden;
  transition-duration: .4s;
}

.content-thumbnail-wrapper:hover .content-thumbnail-overlay {
  visibility: visible;
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.content-thumbnail-wrapper:hover .content-thumbnail-info {
  visibility: visible;
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.content-thumbnail-wrapper {
  position: relative;
}

.content-thumbnail-title {
  text-align: left;
  color: white;
  display: block;
  /* or inline-block */
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}

.content-detailed-wrapper {
  position: relative;
  background-color: #1C1C1C;
  width: 300px;
  height: 400px;
  margin: 12px;
  border-radius: 6px;
}

.content-description-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #D7143A;
  opacity: 1;
  width: 300px;
  height: -webkit-fill-available;
  top: 0;
  left: 0;
  border-radius: 6px;
  transition: 0.4s ease-in-out;
  opacity: 0;
}

.content-description-overlay-text {
  color: white;
  border-style: solid;
  border-width: 1.8px;
  border-color: white;
  padding: 20px;
}

.content-description-overlay:hover {
  opacity: 0.95;
  transition: 0.4s ease-in-out;
}

.content-detailed-image {
  object-fit: cover;
  width: -webkit-fill-available;
  height: 250px;
  border-radius: 6px 6px 0px 0px;
}

.content-detailed-info {
  padding: 1px 20px;
  text-align: left;
}

.content-detailed-title {
  color: white;
  opacity: 0.9;
  display: block;
  /* or inline-block */
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 2.4em;
  line-height: 1.2em;
  font-size: medium;
}

.content-detailed-description {
  width: -webkit-fill-available;
  white-space: nowrap;
  color: white;
  opacity: 0.5;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media (max-width: 420px) {
  .view-mode-container {
    display: none;
  }

  .content-thumbnail-overlay {
    visibility: visible;
    opacity: 1;
    transition: 0.4s ease-in-out;
  }

  .content-thumbnail-info {
    visibility: visible;
    opacity: 1;
    transition: 0.4s ease-in-out;
  }
}